
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Login</h3>
        </div>
    </div>
    <form>
        <div class="form-group">
            <label class="control-label">Role</label>
            <select class="form-control" ng-options="role.name for role in main.roles" ng-model="main.role"></select>
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="main.submit()">登陆</button>
        </div>
    </form>
</div>